doctype html
head
    title Flash Cards
    link(rel='stylesheet' href='/fc-static/stylesheets/style.css')
header
    img(src='/fc-static/img/logo.png')
    p An flashcards to help you study
section.namecard
    .namecard-hello
        p.namecard-greeting Welcome #{name}!
        form.namecard-exit(action='/flashcards/signOut' method='POST')
            button(type='submit')
                img(src='/fc-static/img/close.svg')
section.flashcards
    .card.card-answer
        .card-header
        h1.card-title Answer
        #content
            h2 #{text}
        .card-flip-wrap
            a(href=`/flashcards/card/${id}?side=question`)
                img.card-flip(src='/fc-static/img/flip.svg')
        .card-next
            a(href=`/flashcards/card?id=${id}`)
                img(src='/fc-static/img/next.svg')

