doctype html
head
    title Flash Cards
    link(rel='stylesheet' href='/fc-static/stylesheets/style.css')
header
    img(src='/fc-static/img/logo.png')
    p An flashcards to help you study
section.namecard
    .namecard-hello
        p.namecard-greeting Hello, student!
    form.namecard-form(action='/flashcards/home' method='post')
        label.namecard-prompt
            | Please enter your name:
        input.namecard-name(type='text' name='name')
        button.namecard-submit(type='submit') Submit
