extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Cas

        //- Feel free to personalize the title below
        p Full Stack JavaScript Developer


        .about-bio

          //- Replace the boilerplate below with your best elevator pitch
          p Hi.
          p I am a well rounded developer, artist, problem-solver, persistent to a fault squirrel brain. I am a modular swiss army knife, and am willing to learn whatever I need to get the job done. I am just as liable to ping pong off 7 different tasks as I am to lose 7 hours to one.
          p If you think I would be a good fit for you team, I can be reached via email or via message in whatever relevant social media I feel like messing with these days (links will be posted).


      .skills-contact-box.box
        h6 Skills

        //- Replace skills below with your own skills — at this point, you should be able to list as many as ten skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li Webstorm (but really any editor)
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        //- Replace with your own contact info - feel free to use fake information if you prefer
        ul
          li
            a(href='https://ko-fi.com/whiskytea' target='_blank') Kofi: https://ko-fi.com/whiskytea
          li Email: hellowhiskytea@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.btn-link(href='https://www.linkedin.com/in/cassandrajfleming/' target='_blank') LinkedIn
        a.btn-link(href='https://github.com/whiskytea/' target='_blank') GitHub
        a.btn-link(href='https://twitter.com/whiskytea_' target='_blank') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back