extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box


        h1 Cas

        p Full Stack JavaScript Developer


        .about-bio


          p Hi.
          p I am a well-rounded fledgling developer, artist, problem-solver, persistent to a fault squirrel brain. That being said, once I've set my sights on something, I sink my teeth into it and untangle the problem until I'm satisfied with it. To this end, I'm able to learn whatever new skills needed to allow me to solve whatever particular puzzle has alighted upon my doorstep. As far as project juggling goes, I am just as liable to ping pong off 7 different tasks as I am to dedicate 7 hours to one.
          p In my downtime I play games, watch anime, and generally stare at my eternally growing hobby list. I'll use that sewing machine one day, I swear. Was probably a cat in my past life.
          p If you think I would be a good fit for you team, I can be reached via email or via message in whatever relevant social media I feel like messing with these days (links will be posted).


      .skills-contact-box.box
        h6 Skills


        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li Webstorm (but really any editor)
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        p hellowhiskytea@gmail.com

        br

        a.btn-link(href='https://ko-fi.com/whiskytea' target='_blank') Kofi
        a.btn-link(href='https://github.com/whiskytea/' target='_blank') GitHub
        a.btn-link(href='https://twitter.com/whiskytea_' target='_blank') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back