extends layout.pug

block content

    nav.nav
        a(href='/')
            span &larr;
            |  Back

    article.portfolio-about
        .error-other
            img(src='/static/img/wt_error.png' alt='404 error - spilled glass of Whisky Tea')
            br
            hr
            br
            h3 Error: #{error.status}
            h5 Stack Trace: #{error.stack}



