extends layout.pug

block content
    article.portfolio-intro

      h1 Good afternoon, strange and glorious visitor.

      p Welcome. You have stumbled upon a small portfolio; the early works as it were. Nothing too impressive here, but that may change with time. Feel free to look around, maybe you'll find something interesting.


    article.portfolio-project-thumbs
      .projects-box.box.grid

        each project in projects
          .cell
            a(href=`/project/${project.id}`)
              img.thumbnail(src=`/static/img/${project.image_urls[0]}`, alt=`Thumbnail for ${project.project_name}`)
              h5 #{project.project_name}

