<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')
    //link(rel="icon" type="image/x-icon" href="favicon.ico")

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/static/img/wt_logo_light.png', alt='')
        .dev-intro-box


          h5 Whisky Tea

          p A cryptid who wants specific things to exist in the universe so they're learning code to make it happen. I lurk and I make things.


          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')


          span Whisky Tea

      block content

    .displayWordmark
      img(src='/static/img/wt_vertical_wordmark.png')
  script(src='/static/js/script.js')